---
---

@import "{{ site.theme }}";
body {
    background-color: WhiteSmoke;
    color: darkgray;
}
h1 {
    color: #4682B4;
    text-align: center;
}
/* unvisited link */
a:link {
    color: darkgray;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: #4682B4;
}

/* selected link */
a:active {
    color: blue;
}
